<main class="container-fluid">
  <div class="container py-3 px-5 bg-info">
    <form #heroesForm="ngForm" (ngSubmit)="saveHeroe()">
      <div class="row d-flex flex-column">
        <div class="col-md-12 d-lg-flex">
          <div class="col-md-6 form-group mb-3 main-container">
            <span class="px-1 text-white">Nombre:</span>
            <input
              type="text"
              class="form-control"
              id="hName"
              [(ngModel)]="heroe.name"
              name="heroe"
              required
              placeholder="Ingrese heroe..."
            />
          </div>
          <div class="col-md-6 form-group mb-3">
            <span class="px-1 text-white">Categoria:</span>
            <input
              type="text"
              class="form-control"
              id="hCategory"
              [(ngModel)]="heroe.category"
              name="category"
              placeholder="Ingrese Categoria"
            />
          </div>
        </div>
        <div class="col-md-12 d-lg-flex">
          <div class="col-md-6 form-group mb-3">
            <span class="px-1 text-white">Ciudad:</span>
            <input
              type="text"
              class="form-control"
              id="hCity"
              [(ngModel)]="heroe.city"
              name="city"
              placeholder="Ingrese ciudad..."
            />
          </div>
          <div class="col-md-6 form-group mb-3">
            <span class="px-1 text-white">Estado:</span>
            <input
              type="text"
              class="form-control"
              id="hState"
              [(ngModel)]="heroe.status"
              name="state"
              placeholder="Ingrese estado..."
            />
          </div>
        </div>
        <div class="col-md-12 d-lg-flex">
          <div class="col-md-6 form-group mb-3">
            <span class="px-1 text-white">Tipos de poderes:</span>
            <div *ngFor="let word2 of words2; let in = index">
              <!-- <input
              type="text"
              class="form-control"
              id="hSTypesOfPower"
              [(ngModel)]="heroe.typesOfPower"
              name="typesOfPower"
              placeholder="Ingrese tipos de poder..."
            />-->
              <input
                type="text"
                [(ngModel)]="words2[in].value"
                name="name{{ in }}"
                placeholder="Agregue url video"
                class="form-control numero"
                #name="ngModel"
                required
              />
            </div>
            <button type="button" value="Agregar video" (click)="add()">
              Agregar poder
            </button>
          </div>
          <div class="col-md-6 form-group mb-3">
            <div class="col-md-12 d-flex">
              <span class="px-1 text-white">Vehiculo:</span>
              <div class="form-check borders1 col-3">
                <input
                  type="checkbox"
                  class="form-check"
                  [(ngModel)]="heroe.car"
                  name="check"
                  id="check"
                />
              </div>
            </div>
            <input
              type="text"
              class="form-control"
              id="hCar"
              [(ngModel)]="heroe.kindOfCar"
              name="car"
              placeholder="Ingrese vehiculo"
            />
          </div>
        </div>
      </div>

      <div class="col-md-3 btn-save">
        <button
          type="submit"
          class="btn-save-item"
          [disabled]="!heroesForm.valid"
        >
          <span class="iconify mr-2" data-icon="carbon:add" ></span>REGISTRAR
          HEROE
        </button>
      </div>
    </form>
  </div>

  <div class="container row align-items-center py-2 mx-auto">
    <div class="col-md-6 d-flex align-items-center pl-5 col-1">
      <span class="iconify" data-icon="bi:list-check"></span>
      <p class="mt-3 ml-2">Lista Heroes</p>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div class="input-group rounded w-75 m-auto">
        <input
          type="search"
          class="form-control rounded rounded2"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
          [(ngModel)]="searchValue"
        />
        <span class="input-group-text border-0" id="search-addon">
          <span class="iconify" data-icon="codicon:search"></span>
        </span>
      </div>
    </div>
  </div>

  <div class="container container-table">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Categoria</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Estado</th>
          <th scope="col">Tipos de poder</th>
          <th scope="col">Vehiculo</th>
          <th scope="col">Tipo de vehiculo</th>
          <!-- <th scope="col">Acción</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataHeroes; let indice = index">
          <th>
            {{ indice + 1 }}
          </th>
          <td>
            {{ item.name }}
          </td>
          <td>
            {{ item.category }}
          </td>
          <td>
            {{ item.city }}
          </td>
          <td>
            {{ item.status }}
          </td>
          <td>
            {{ item.car }}
          </td>
          <td>
            {{ item.kinfOfCar }}
          </td>
          <!-- <td *ngFor="let dat of item.typesOfPower">
            {{ dat }}
          </td> -->
          <!-- <td *ngFor="let dat of item.heroes">{{ dat.name }}</td>
          <td *ngFor="let dat of item.heroes">{{ dat.category }}</td>
          <td *ngFor="let dat of item.heroes">{{ dat.city }}</td>
          <td *ngFor="let dat of item.heroes">{{ dat.status }}</td>
          <td *ngFor="let dat of item.heroes">{{ dat.typesOfPower }}</td>
          <td *ngFor="let dat of item.heroes">{{ dat.car }}</td>
          <td *ngFor="let dat of item.heroes">{{ dat.kinfOfCar }}</td>
          <td *ngFor="let dat of item.heroes">{{ dat.kinfOfCar }}</td>-->
          <td *ngFor="let dat of item.heroes">
            <button class="btn btn-danger btn-sm" (click)="deleteState(dat)">
              Eliminar
            </button>
            <button class="btn btn-warning btn-sm" (click)="deleteState(dat)">
              modificar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
